* {
  outline: 1px solid #def;
}

html, body {
  /* m0 */
  margin: 0;
  /* p0 */
  padding: 0;
}

nav li {
  /* m0 */
  margin: 0;
  /* p0 */
  padding: 0;
  /* lsst */
  list-style: none;
}


#main-header {
  /* w100p */
  width: 100%;
  /* h3rem */
  height: 3rem;
  /* df */
  display: flex;
}

#logo {
  /* w10rem */
  width: 10rem;
}

#menu {
  /* df */
  display: flex;
  /* w */
  width: calc( 100vw - 20rem );
  /* jcsb */
  justify-content: space-between;
  
}

#menu li {
  /* df */
  display: flex;
  /* jcc */
  justify-content: center;
  /* aic */
  align-items: center;
  /* padding-right: 1rem; */
}


#main-footer {
  /* w100p */
  width: 100%;
  /* h2rem */
  height: 2rem;
}

.main-container {
  /* w100p */
  width: 100%;
  /*h*/
  height: calc( 100vh - 5rem );
  
  /* dg */
  display: grid;
  /* gtc */
  grid-template-columns: 10rem 1fr 10rem;
}





.color1 {
  /* bgc */
  background-color: antiquewhite;
}